apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-secret
  namespace: bitwarden
stringData:
  user: "{{ bitwarden_user }}"
  password: "{{ bitwarden_password }}" 
  host: "{{ bitwarden_host }}" 
