apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-secret
  namespace: bitwarden
stringData:
  BW_USER: "{{ bitwarden_user }}"
  BW_PASS: "{{ bitwarden_password }}" 
  BW_HOST: "{{ bitwarden_host }}" 
