apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ cluster_ca }}
    server: https://{{ api_server.address }}:{{ api_server.port }}
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
kind: Config
preferences: {}
users:
- name: default
  user:
    client-certificate-data: {{ cluster_cert }}
    client-key-data: {{ cluster_key }}
